body {
  font-family: arial;
  font-size: 16px;
}

.menu {
  float: left;
  width: 20%;
  height: 95%;
  padding-top: 25px;
}

.graph {
  float: right;
  height: 99%;
  width: calc(80% - 4px);
  border: 2px solid black;
  border-radius: 5px;
}

button {
  padding: 4px;
  margin: 5px;
  font-size: 15;
  cursor: pointer;
}
label {
  margin-left: 5px;
}

#node_data {
  border: 1px solid black;
  font-size: 15;
  font-family: arial;
  width: 85%;
  height: 60%;
  padding: 10px;
  border-radius: 3px;
  overflow: auto;
  margin-left: 2%;
}

#data_option {
  margin: 5px;
  font-size: 15;
  width: auto;
}

#input_file {
  font-size: 15;
  margin: 5px;
}

hr {
  width:90%;
  margin:10 0 10 0
}