#container {
  font-family: arial;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  height: 100%;
}

.menu {
  width: 20%;
  order: 1;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100%-25px);
  padding-top: 25px;
}

.graph {
  height: 99%;
  width: calc(60% - 4px);
  order: 2;
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 5px;
}

.menu2 {
  padding-top: 315px;
  order: 3;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  height: 50%;
}

button {
  padding: 4px;
  margin: 5px;
  font-size: 15;
  cursor: pointer;
}
label {
  margin-left: 5px;
}

.node_data {
  border: 1px solid black;
  font-size: 15;
  font-family: arial;
  width: 85%;
  padding: 10px;
  border-radius: 3px;
  overflow: auto;
  margin-left: 2%;
}

#node_data1 {
  height: 50%;
}

.data_option {
  margin: 5px;
  font-size: 15;
  width: auto;
}

#input_file {
  font-size: 15;
  margin: 5px;
}

hr {
  width: 90%;
  margin: 10 0 10 0;
}

#node_data2 {
  height: 90%;
}

.zoom {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  position: fixed;
  background-color: #ffffffaa;
  top: 4%;
  right: 22%;
  width: auto;
  height: auto;
  z-index: 9999;
}

#search_bar {
  width: 70%;
  height: 2em;
}

#search_button {
  padding: 4px;
  margin: 5px;
  font-size: 15;
  cursor: pointer;
}